
div {
  margin: 0 0 0.75em 0;
}

input[type="radio"] {
  display: none;

  
}

input[type="radio"] + label {
  color: #292321;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 0 0 0.15em
}

input[type="radio"] + label span {
  background-color: #ffffaa;

}

.radio[disabled] + label span {
  background-color: #ffaaaa;

}

input[type="radio"]:checked + label span {
  background-color: #ff3333;
}

td { height : 30px; }

table {
margin-left : 30px;
margin-top : -10px;}
